/viikko1/teht14-16/RiippuvuuksienInjektointi1/build/
/viikko1/teht14-16/NhlStatistics1/build/
/viikko2/Teht9-12/RiippuvuuksienInjektointiSpring/.nb-gradle/
/viikko2/Teht9-12/Verkkokauppa1/.nb-gradle/
/viikko2/Teht9-12/Verkkokauppa1/build/
/viikko3/teht1-3/nhlreader/.nb-gradle/
/viikko3/teht4/HelloCucumber/.nb-gradle/
/viikko3/teht4/HelloCucumber/build/
/viikko3/teht5/LoginCucumber/build/
/viikko3/teht7-11/WebLogin/.nb-gradle/
/viikko3/teht7-11/WebLogin/salasanat.txt
/Viikko4/Teht1/MockitoDemo/.nb-gradle/
/Viikko4/Teht1/MockitoDemo/build/
/Viikko4/Teht2/MaksukorttiMockito/.nb-gradle/
/Viikko4/Teht2/MaksukorttiMockito/build/
/Viikko4/Teht3-4/Verkkokauppa/.nb-gradle/
/Viikko4/Teht3-4/Verkkokauppa/build/
/Viikko4/Teht5/IntJoukkoSovellus/.nb-gradle/
/Viikko4/Teht5/IntJoukkoSovellus/build/
/Viikko4/Teht6/Tennis/.nb-gradle/
/Viikko4/Teht6/Tennis/build/
/Viikko6/Teht2-5/QueryLanguage/.nb-gradle/
/Viikko6/Teht2-5/QueryLanguage/build/
/Viikko7/Teht3-4/KiviPaperiSakset/.nb-gradle/